@import url(http://api.mobilis.co.kr/webfonts/v2/css/NanumGothicWeb);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);







html, body {
    margin : 0px;
    padding : 0px;
    background-color : rgb(229,229,229);
    min-width: 1180px;
}
ul, li {
    -webkit-margin-before : 0;
    -webkit-margin-after : 0;
    -webkit-margin-start : 0;
    -webkit-margin-end : 0;
    -webkit-padding-start : 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    outline-style: none;
}





header {
    position: relative;
    display: block;
    padding: 10px 30px 10px 30px;
    background-color: rgb(241,241,241);
}
#logo {
    display: inline-block;
    text-align: center;
    margin-right : 30px;
}
#logo img {
    width : 183px;
}
#searchbar {
    display: inline-block;
    width : 44%;
    vertical-align: top;
    padding-top: 2px;
}
form {
    margin : auto 0;
}
input[type="text"] {
    height : 30px;
    width : 590px;
    min-width : 140px;
    margin : 0;
    font-size : 13pt;
    text-indent: 10px;
}

input[type="image"]{
    padding-top: 8px;
    padding-left: 22px;
    width :16px;
}
#searchbar_button {
    position: relative;
    width: 60px;
    height : 34px;
    display: inline-block;
    margin-top: 2px;
    margin-left: -5px;
    vertical-align: top;
    background-color: rgb(70,131,236);
}
#features {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    text-overflow : ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;
}
#googleplus {
    position: absolute;
    display: inline-block;
    vertical-align: super;
    top : 0;
    right : 10px;
    margin-left: 30px;
}
#googleplus:hover{
    transition : all, 0.25s ease;
    text-decoration: underline;
}
#apps {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
#apps img:hover {
    transition : all, 0.25s ease;
    -webkit-filter: brightness(20%); 
}
#alert {
    position: relative;
    top : 5px;
    display: inline-block;
    margin-left: 25px;
}
#alert img{
    width: 23px;
}
#share {
    position: relative;
    display: inline-block;
    top : -2px;
    margin-left: 25px;
}
#share img {
    border: none;
    background-color: rgb(230,230,230);
    padding: 5px 20px 5px 20px;
    font-size: 15px;
}
#share img:hover{
    transition : all, 0.25s ease;
    background-color: rgba(0,0,0,0.5);
}
#login {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    top : 14px;
}
#login img {
    border-radius: 40px;
    width: 40px;
}









nav {
    box-shadow: 0px 1px  rgba(0,0,0,0.1);
    position: relative;
    left : 200px;
    height : 48px;
    width : 100%;
    background-color: rgb(255,255,255);
}
#menu1_genre {
    position: absolute;
    width: 180px;
    height: 48px;
}
#menu1_genre button{
    position: absolute;
    height: 48px;
    left : 95px;
    color : rgb(164,164,164);
    background-color: rgba(0,0,0,0);
    border: none;
    font : 15px bold NanumGothicWeb;
    text-align: center;
    letter-spacing:0px;
}
#menu1_genre button:hover{
    transition : all 0.25s ease;
    background: rgba(0,0,0,0.1);
}
#menu1_genre img{
    vertical-align: text-top;
}
#line {
    position: absolute;
    left : 180px;
    top : 9px;
    height : 30px;
    border-right: solid 1px rgba(0,0,0,0.1);
}
#menu1_etc {
    position: relative;
    left : 198px;
    height: 48px;
}
#menu1_etc li {
    float: left;
}
#menu1_etc button{
    height: 48px;
    color : rgb(164,164,164);
    background-color: rgba(0,0,0,0);
    border: none;
    font : 15px bold NanumGothicWeb;
    text-align: center;
    letter-spacing:0px;
    padding: 0 1em 0 1em;
}
#menu1_etc button:hover{
    transition : all 0.25s ease;
    background: rgba(0,0,0,0.1);
}
#menu2 {
    overflow: hidden;
    margin-right: 250px;
}
#menu2 button{
    float: right;
    height: 28px;
    padding-top: 2px;
    margin-top : 9px;
    background-color: rgba(0,0,0,0.0);
    border: solid 1px rgb(164,164,164);
    border-radius: 2px;
}
#menu2 ul li:nth-child(1) {
    margin-right: 80px;
}
#menu2 ul li:nth-child(1) button {
    padding: 0;
    width : 40px;
}
#menu2 ul li:nth-child(2) button {
    width : 55px;
}
#menu2 ul li button:hover {
    box-shadow: 0px 1px rgba(0,0,0,0.1);
}








aside {
    display: inline-block;
    width : 200px;
    height : 240px;
    background-color: rgb(243,243,243);
    vertical-align: middle;
    float : left;
}
.menu0 {
    display: inline-block;
    width : 200px;
    height : 240px;
    background-color: rgb(243,243,243);
    vertical-align: middle;
}
.menu0_selected {
    position: relative;
    height: 48px;
}
.menu0_selected_wrapper {
    background-color: rgb(26, 161, 225);
    color: rgb(255, 255, 255)
}
#menu0_selected_img img {
    position: absolute;
    margin-left: 40px;
    margin-top: 13px;
    width : 52px;
    padding-top: 0;
    background-color: rgba(0,0,0,0.0);
}
#menu0_selected_name {
    position: absolute;
    left : 92px;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.0);
    padding-top: 0;
}
#menu0_selected_name h2 {
    font: 18px bold NanumGothicWeb;
    letter-spacing: 2px;
}
.menu0_breakdown_list {
    position : absolute;
    width : 175px;
    height: 192px;
    margin-top: 0px;
}
.menu0_breakdown_list ul {
    margin-top : 16px;
}
.menu0_breakdown_list ul li:nth-child(1) {
    height: 45px;
    font : 18px bold;
    color : rgb(85,85,85);
    padding-top: 7px;
    padding-left : 24px;
    border: none;
    background-color: rgba(0,0,0,0);
}
.menu0_breakdown_list ul li:nth-child(2) {
    height: 45px;
    font : 18px bold;
    color : #1380b5;
    padding-top: 7px;
    padding-left : 24px;
    border: none;
    background-color: rgba(0,0,0,0);
}
.menu0_breakdown_list ul li:hover{
    transition : all .25s ease;
    background: rgba(0,0,0,0.1);
}
.menu0_selected_goback {
    position : relative;
    width : 200px;
    height : 192px;
}
.menu0_selected_goback_button {
    position : relative;
    background-color: rgb(255,255,255);
    width: 25px;
    height: 192px;

}
.menu0_selected_goback_button button{
    border : 0;
    padding:  0;
    background-color: rgba(0,0,0,0.0);
    margin-top: 84px;
    display: inline;
}